<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
  <div class="wrapper wrapper--w790">
    <div class="card card-5">
      <div class="card-heading">
        <h2 class="title">PVChat Registro</h2>
      </div>
      <div class="card-body">
        <form method="POST">
          <div class="form-row col-sm-12">

            <div class="row">
              <div class="col-sm-12">

                <!--CHILD NAME -->
                <div class="row margin-bottom-row">
                  <div class="col-sm-6">
                    <h3 class="first">Nombre del niño</h3>
                  </div>

                  <div class="col-sm-6">
                    <input name="childName" id="childName" class="form-control" type="text" size="30" [(ngModel)]="registerModel.childName">
                  </div>
                </div>

                <!--CHILD AGE -->
                <div class="row margin-bottom-row">
                  <div class="col-sm-6">
                    <h3 class="first">Fecha de nacimiento</h3>
                  </div>

                  <div class="col-sm-6">
                    <p-calendar name="bornDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="2001:2019" [(ngModel)]="registerModel.bornDate"></p-calendar>
                  </div>
                </div>

                <!--LOCATION -->
                <div class="row margin-bottom-row">
                  <div class="col-sm-6">
                    <h3 class="first">Isla de procedencia</h3>
                  </div>

                  <div class="col-sm-6">
                    <p-dropdown name="location" [options]="locationArray" [(ngModel)]="registerModel.location" placeholder="Selecione la isla" optionLabel="name" [showClear]="true"></p-dropdown>
                  </div>
                </div>

                <!--Child Status -->
                <div class="row margin-bottom-row">
                  <div class="col-sm-6">
                    <h3 class="first">Estado del paciente</h3>
                  </div>

                  <div class="col-sm-6">
                    <p-dropdown name="childStatus" [options]="statusArray" [(ngModel)]="registerModel.childStatus" placeholder="Selecione el estado" [showClear]="true"></p-dropdown>
                  </div>
                </div>

                <!--Hospital -->
                <div class="row margin-bottom-row" *ngIf="isNecessaryShowHospital(registerModel.childStatus)">
                  <div class="col-sm-6">
                    <h3 class="first">Hospital</h3>
                  </div>

                  <div class="col-sm-6">
                    <p-dropdown name="hospital" [options]="hospitalArray" [(ngModel)]="registerModel.hospital" placeholder="Selecione el hospital" optionLabel="name" [showClear]="true"></p-dropdown>
                  </div>
                </div>

                <!--ILL -->
                <div class="row margin-bottom-row">
                  <div class="col-sm-6">
                    <h3 class="first">Enfermedad</h3>
                  </div>

                  <div class="col-sm-6">
                    <p-dropdown name="illType" [options]="illTypeArray" [(ngModel)]="registerModel.illType" placeholder="Seleccione la enfermedad" [showClear]="true"></p-dropdown>
                  </div>
                </div>

              <!--Tutor-->
                <div class="row">
                  <div class="col-sm-12">
                    <h3 class="first">Tutores</h3>
                  </div>
                </div>
                <div class="row" *ngFor="let tutor of registerModel.tutorArray">
                  <div class="col-sm-12">
                    <app-tutor [tutorModel]="tutor"></app-tutor>
                  </div>
                </div>
                <div class="row margin-bottom-row">
                  <div class="col-sm-6">
                    <span style="cursor: pointer" class="fa fa-plus" (click)="addTutor()">Añadir tutor</span>
                  </div>
                </div>

              </div>

            </div>

          </div>
          <div>
            <button class="btn btn--radius-2 btn--red" type="submit" (click)="show()">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
