
<div class="row">
  <div class="col-sm-4">
    <span>Nombre</span>
    <input name="tutorName" id="tutorName" class="form-control" type="text" size="30" [(ngModel)]="tutorModel.name">
  </div>

  <div class="col-sm-4">
    <span>relación</span>
    <input name="tutorRel" id="tutorRel" class="form-control" type="text" size="30" [(ngModel)]="tutorModel.relathion">
  </div>

  <div class="col-sm-4">
    <span>telefono</span>
    <input name="tutorPhone" id="tutorPhone" class="form-control" type="text" size="30" [(ngModel)]="tutorModel.phoneNumber">
  </div>
</div>
